# IDE settings folders
.idea/
.vscode/

# Data files
results.log
*.sol
*.tmp

# Compiled files
*.class
*/__pycache__/
.mypy_cache/

# Virtual environment
local/
/venv-pypy/
venv/

# MyPy
*.mypy_cache
